{% extends "root.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>

    {% block header %}
    <title>Cypher Introduction</title>
    {% endblock %}

  </head>

  <body>

    {% block jumbotron %}
    {% endblock %}

    {% block body %}
    <h3>Basics of Cypher</h3>
    For basic use of Cypher and Neo4j, there are six main key words to know: CREATE, MATCH, RETURN, WHERE, DETACH, and DELETE<br>

    <h3>CREATEing Nodes and Assigning Properties</h3>
    Use the keyword CREATE, and place all information within the ensuing parentheses ()<br>
    All attributes will go inside the {}, much like a dictionary<br>
    <br>
    The first key-value pair represents the Node’s label, formatted as (Label_Identity):(Label_Category)<br>

    <h3>Labeling</h3>
    Essentially, labels are categories for nodes<br>
    A node’s label will determine the color of the node<br>
    Much easier to distinguish in visual form<br>
    Ex: Movie→ Green; Actor → Blue<br>

    <h3>CREATEing Edges Between Nodes</h3>
    Relationships are formed by larger code blocks:<br>
    <br>
    Nodes go within the parentheses ()<br>
    Relationships themselves go within the brackets []<br>
    Relationship labels: begin with : and are visible; properties go inside the {} and are not visible<br>
    “-->” used to denote the direction of the edge<br>

    <h3>Querying for Data</h3>
    Use MATCH to find a node via a single property<br>
    <br>
    Use WHILE to narrow down a query:<br>
    <br>
    “tom” and “nineties” are placeholder variables, either for a node’s label (“tom”) or a collection of nodes (“nineties”)<br>
    RETURN will print either a property, or the full node, as required<br>
    
    <h3>More Advanced Searching</h3>
    To shorten a list of results to a specific quantity, use LIMIT: <br>

    <h3>Finish by Removing Connections</h3>
    To clear the database, first remove edges and the relationships they correspond to using DETACH<br>
    Then, remove nodes using DELETE<br>
    These can be consolidated into one command:<br>

    <br>
    {% endblock %}

  </body>
</html>
