{% extends "root.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>

    {% block header %}
    <title>Neo4j Overview</title>
    {% endblock %}

  </head>

  <body>

    {% block jumbotron %}
    {% endblock %}

    {% block body %}
    <h3>Introduction to Neo4j</h3>
    Popular graph database management system<br>
    Uses the Cypher query language to add, retrieve, and remove data points<br>
    Implemented using Java<br>
    Meets the standards of ACID (Atomicity, Consistency, Isolation, Durability)<br>

    <h3>Getting Started</h3>
    1. Install and download off of neo4j.com<br>
    2. Launch the program and create a new project<br>
    3. Click “Open Browser” to open a new window to toggle with the database<br>
    4. Proceed, either with tutorials or by writing original Cypher code<br>


    <br>
    {% endblock %}

  </body>
</html>
