{% extends "root.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>

    {% block header %}
    <title>Other Opportunities</title>
    {% endblock %}

  </head>

  <body>

    {% block jumbotron %}
    {% endblock %}

    {% block body %}
    <h1>Sources Used, Amongst Others:<h1><br>
	<a href="https://www.youtube.com/watch?v=vJcxRjJ982k">DataStax</a><br>
	<a href="https://github.com/neo4j-examples">Open Source Examples</a><br>
	<a href="https://neo4j.com/docs/developer-manual/3.2/drivers/sessions-transactions/">Driver Information</a><br>
	<a href="https://neo4j.com/download/">Download Page</a><br>
	<a href="https://neo4j.com/blog/acid-vs-base-consistency-models-explained/">Explanation of ACID</a><br>

    <br>
    {% endblock %}

  </body>
</html>
